<footer class="footer">
    <div class="footer__addr">
      <h1>Ecommerce</h1>
      
      <address>
        Excelencia innata se refleja con la calidad de materiales del más alto nivel, al igual que en nuestra confiabilidad y solidez.
      </address>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Menu</h2>
        <ul class="nav__ul">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/api/productos">Productos</a>
          </li>
          <li>
            <a href="/api/carrito">Carrito</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2022 Proyecto Final CoderHouse Backend</p>
      
      <div class="legal__links">
        <span>Realizado por Luis Carlos Lugo P.</span>
      </div>
    </div>
  </footer>