<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es la descripción de mi proyecto Web de CoderHouse"/>
    <meta name="author" content="Luis Carlos Lugo" />
    <meta name="copyright" content="Copyright owner Luis Carlos Lugo" />
    <meta name="keywords" content="ecommerce, tiendavirtual, Mexico"/>

    <title>Login Ecommerce</title>
</head>
<body>
    {{{body}}}
    
</body>
</html>